{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>
    <ul>
        {% for item in product %}
            <li>{{ item }}
                <button onclick="deleteitem('{{ item.item_sku }}')">Delete</button>
                <button onclick="getdetails('{{item.item_sku}}')">Details</button>
                <button onclick="updateitem('{{ item.item_sku }}')">Update</button>
            </li>
        {% endfor %}
    </ul>
<h3>Add New Product </h3>
<form action="{{url_for('products')}}" method="POST">
    Item SKU: <input name="item_sku" type="text" placeholder="Enter item sku" required><br>
    Item Name: <input name="item_name" type="text" placeholder="Enter item name"><br>
    Item Description: <input name="item_description" type="text" placeholder="Provide a description for item"><br>
    Item Price: <input name="item_price" type="number" placeholder="Enter price"><br>
    Item Quantity: <input name="item_qty" type="number" placeholder="Enter quantity left"><br>
    <button type="submit" id="create">Create</button>
</form>
<script type="text/javascript">
    function deleteitem(item_sku){
        fetch('{{ url_for("delete", item_sku="") }}' + item_sku, {
            method: 'DELETE',
        }).then(response => {
            if(response.ok){
                window.location.reload();
            }else{
                console.error('Failed to delete the item with SKU : ', item_sku);
            }
        }).catch(error=>{
            console.error('Error while Fetching : ', error)
        });
    }
    function getdetails(item_sku){
        const detailsUrl='{{ url_for("details", item_sku="") }}' + item_sku;
        window.open(detailsUrl,'_blank')
    }
    function updateitem(item_sku){
        const updateUrl='{{ url_for("update", item_sku="") }}' + item_sku;
        window.open(updateUrl,'_blank')        
    }
</script>
{% endblock %}